.idea
node_modules
package-lock.json
logs
!src/Logs/
!src/Logs/**
.key
dist/exports
config/local.php
config/profiles/*
!config/profiles/default/
dashboard
img
projects
webalizer
xampp
applications.html
bitnami.css