/* Mixins */
@mixin respond($breakpoint) {
	@media (max-width: $breakpoint) {
		@content;
	}
}

// Hover on fine pointers, active on coarse pointers
@mixin hover-or-active {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}

	@media (hover: none) and (pointer: coarse) {
		&:active {
			@content;
		}
	}
}

// Hover + focus-visible on fine pointers, active on coarse pointers
@mixin hover-focus-or-active {
	@media (hover: hover) and (pointer: fine) {
		&:hover,
		&:focus-visible {
			@content;
		}
	}

	@media (hover: none) and (pointer: coarse) {
		&:active {
			@content;
		}
	}
}
