/* Folders and Columns */
#folders-view {
	.columns {
		position: relative;
		display: flex;
		flex-flow: wrap;
		gap: 1.875rem;

		.column {
			position: relative;
			flex: 1;
			background-color: var(--header-background-color);
			padding: 16px 13px;
			border-radius: var(--container-border-radius);

			.legend-badge {
				position: relative;
				top: -6px;
				font-size: small;
				font-weight: lighter;
				align-content: center;
				white-space: nowrap;
				padding: 2px 10px;
				border: 1px solid;
				border-radius: var(--container-border-radius);
				opacity: .4;

				&-default {
					color: var(--input-placeholder);
					border-color: var(--input-placeholder);
				}

				&-error {
					color: var(--error-text);
					border-color: var(--error-text);
				}

				&-vhost {
					color: var(--link-color);
					border-color: var(--link-color);
				}
			}

			h3 {
				display: flex;
				justify-content: space-between;
				gap: .5rem;
				margin: 0 35px 15px 0;
				position: relative;
				height: 25px;
				white-space: nowrap;
				user-select: none;

				a {
					flex: auto;
					color: var(--text-color);
				}
			}

			img {
				width: 26px;
				margin-left: 5px;
				vertical-align: text-bottom;
			}

			ul {
				list-style: none;
				padding: 0;
				line-height: 1.2;

				li {
					margin: 5px 0;
					gap: 1.25rem;
				}
			}

			.folder-item {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.url-container {
				display: flex;
				gap: .625rem;
			}

			.invalid, .empty {
				font-weight: lighter;
			}

			.invalid {
				color: var(--error-text);
			}

			&.warnings {
				margin: 30px auto 0 auto;

				li {
					font-weight: lighter;
				}
			}
		}
	}
}

/* Folders Config */
#folders-config {
	border-radius: var(--container-border-radius);

	.folder-config-item {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
		gap: .6rem;
		padding: 3rem 1rem 1rem 1rem;
		position: relative;
		cursor: grab;

		.folder-label {
			position: absolute;
			top: 0;
			left: .5rem;
			width: fit-content;
			color: var(--link-color);
			border: var(--border-width) var(--link-color) solid;
			border-radius: var(--button-border-radius);
			padding: 2px 10px;
			opacity: 0.7;
			transition: color var(--transition-ease), border var(--transition-ease);
		}

		&:hover {
			.folder-label {
				color: var(--hover-color);
				border: var(--border-width) var(--hover-color) solid;
			}
		}

		.uid-container {
			margin-bottom: 10px;
		}

		input {
			padding: .5rem;
			font-size: .9rem;
			margin-top: auto;
			margin-bottom: auto;
		}

		select {
			font-size: .9rem;
		}

		label, span {
			font-size: .9rem;
		}

		> label {
			margin: 10px 0 10px 5px;
		}

		button.remove-folder-column {
			position: absolute;
			top: .5rem;
			right: .5rem;
			padding: .25rem .5rem;
		}

		.special-case {
			display: flex;
			gap: .5em;
			flex-wrap: wrap;
			margin-bottom: .5em;
		}
	}

	button#add-folder-column {
		margin-top: 1rem;
		font-weight: bold;
		background-color: var(--link-color);
		color: var(--button-text);
		border: none;

		&:hover {
			background-color: var(--hover-color);
		}
	}
}
