@use '../utils/mixins' as *;

/* Form Elements */
label, legend, .uid-container span {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: .3125rem;
	margin-bottom: 10px;
}

.grouped {
	&-container {
		max-width: 300px;
		background: var(--input-bg);
		border: var(--border-width) solid var(--border-color);
		border-radius: var(--input-border-radius);
		padding: .5rem;
	}

	&-labels {
		align-self: center;
		display: flex;
		flex-direction: column;

		select {
			width: 100%;
		}
	}
}

input[type="text"], input[type="password"], select, textarea {
	font-family: var(--font-main);
	color: var(--input-text);
	width: 100%;
	padding: 5px;
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--input-border-radius);
	background-color: var(--input-bg);

	&::placeholder {
		color: var(--input-placeholder);
	}
}

input[type="text"], input[type="password"], select {
	max-width: 300px;
	height: 36px;
	transition: all var(--transition-ease);
}

textarea {
	min-height: 36px;
	height: 115px;
	resize: vertical;
	transition: color var(--transition-ease), width var(--transition-ease), border var(--transition-ease), background var(--transition-ease);
}

select {
	width: auto;
}

fieldset {
	width: fit-content;
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--container-border-radius);
	padding: 0 15px 15px;

	> label:last-child {
		margin-bottom: 0;
	}
}

button {
	padding: 10px;
	background: var(--header-background-color);
	border: var(--border-width) var(--border-color) solid;
	border-radius: var(--button-border-radius);
	color: var(--text-color);
	line-height: 1;
	cursor: pointer;
	transition: all var(--transition-ease);
	user-select: none;

	&.reset { //Reset button style for non-form related buttons
		background: transparent !important;
		border: none;
	}

	@include hover-or-active {
		&:not(.collapse-toggle) {
			background: var(--text-color);
			color: var(--header-background-color);
		}
	}

	&:disabled {
		background: var(--border-color) !important;
		color: var(--text-color) !important;
		opacity: .75;
	}
}
