/* vHosts Manager */
.vhost-filters {
	margin-bottom: 1rem;

	select {
		margin-left: .5rem;
	}
}

#vhosts-manager {
	margin: 1em 0;

	table {
		td {
			> span {
				display: inline-block;
				width: 24px;
				height: 24px;
				text-align: center;
			}

			&[data-label="Cert"] {
				white-space: nowrap;
			}
		}
	}

	.vhost-duplicate {
		background-color: var(--error-bg) !important;
	}

	button.open-folder {
		position: relative;
		right: -1px;
		width: 24px;
		height: 24px;
		background: none;
		border: none;
		cursor: pointer;
		padding: 0;
		transition: filter var(--transition-ease);

		&:hover {
			filter: saturate(0);
		}
	}
}
