/* Footer */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: var(--footer-height);
	padding: 15px;
	line-height: 1.6;
	text-align: center;
	background: var(--header-background-color);
	background: linear-gradient(
					to top,
					var(--header-background-color) 0%,
					var(--header-background-color) 30%,
					var(--header-background-solid) 100%
				);
	border-top: 1px solid var(--border-color);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	animation: slideInUp 1s ease-out;
	transition: transform var(--transition-ease),
				background var(--transition-ease),
				border var(--transition-ease);

	&.is-collapsed {
		transform: translateY(calc(var(--footer-height) * 1 + -9px));
	}

	&.is-open {
		transform: translateY(0);
	}

	.footer-wrapper {
		display: flex;
		flex-direction: row;
		white-space: nowrap;
	}

	.footer-links {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		column-gap: 20px;
		list-style: none;
		justify-content: center;

		li {
			position: relative;

			&:not(:last-child)::after {
				content: "|";
				position: absolute;
				width: 20px; // Matches the column-gap to center align the pipe
				//right: -12px;
			}
		}
	}

	p {
		font-style: italic;
		line-height: 1.3;
	}

	a {
		font-weight: bold;
	}
}

.emoji {
	filter: hue-rotate(170deg) saturate(0.4) brightness(0.8);
}

span {
	&.quote {
		font-size: 1.5625rem;
		line-height: 13px;
		margin: 0 4px;
		position: relative;
		top: 4px;
	}
}
