/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.25rem;
	height: var(--header-height);
	padding: 15px;
	background-color: var(--header-background-color);
	border-bottom: 1px solid var(--border-color);
	box-shadow: 0 4px 12px var(--box-shadow);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	animation: slideInDown 1s ease-out;
	transition: transform var(--transition-ease), background-color var(--transition-ease);

	&.is-collapsed {
		transform: translateY(-90%);
	}

	&.is-open {
		transform: translateY(0);
	}

	h1 {
		display: flex;
		align-items: center;
		gap: .3125rem;
		color: var(--link-color);
		margin: 0;
		font-family: var(--font-main);
		min-width: 200px;

		span {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		img {
			width: auto;
			height: 2rem;
			display: inline;
			vertical-align: -0.15em;
			filter: hue-rotate(var(--logo-hue-angle)) grayscale(var(--logo-grayscale));
		}
	}

	.clock {
		font-size: 2.1rem;
		font-weight: 700;
	}
}

.server-info {
	display: flex;
	flex-direction: column;
	flex: none;
	text-align: right;
	font-size: .875rem;
	position: relative;

	span {
		&:not(.status) {
			display: block;
			z-index: 1;
		}
	}
}
