/* Index page styles */
body {
	font-family: var(--font-main);
	font-size: 1rem;
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-x: hidden;

	&.header-active {
		&.footer-active {
			main {
				min-height: calc(100vh - var(--header-footer-height));
			}
		}
		&.footer-inactive {
			main {
				min-height: calc(100vh - var(--header-height));
			}
		}
	}
	&.header-inactive {
		&.footer-active {
			main {
				min-height: calc(100vh - var(--footer-height));
			}
		}
	}
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.17rem;
}

p {
	transition: color var(--transition-ease);

	&.description {
		width: fit-content;
		background-color: var(--header-background-color);
		border-radius: var(--container-border-radius);
		padding: 15px;
	}

	&.small {
		font-size: 0.85rem;
	}
}

a {
	color: var(--link-color);
	text-decoration: none;
	transition: color .3s;

	&:hover {
		text-decoration: none;
		color: var(--hover-color) !important;
	}
}

pre {
	font-size: .875rem;
	white-space: pre-wrap;
	word-break: break-word;
	overflow-wrap: break-word;
	overflow-x: auto;
	max-width: 100%;
	background: var(--header-background-color);
	border-radius: var(--container-border-radius);
	padding: 15px;
}

code {
	font-family: var(--font-editor);
	font-size: .75rem;
	color: var(--syntax-text);
	background-color: var(--header-background-color);
	padding: 2px 4px;
	border-radius: var(--input-border-radius);
	transition: background-color var(--transition-ease), color var(--transition-ease);
}

hr {
	margin: 20px 0;
	background-color: var(--text-color);
	height: 1px;
	border: none;
}

main {
	display: flex;
	flex-direction: column;
}

section {
	flex: 1;
	padding: 20px 20px 123px;
	animation: fadeIn 1.5s ease-in;
}

.page-view { //Used when relevant utils are viewed directly
	margin: 20px 0 0 !important;
	padding: 20px !important;
}

.heading {
	position: relative;
	display: flex;
	align-items: center;

	h2 {
		position: relative;
		margin: 15px 0 15px;
	}
}

.folders {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 0;

	#folders-view,
	#settings-view,
	#phpinfo-view,
	#apache-view,
	#mysql-view {
		display: none;
	}

	a {
		font-weight: bold;
	}
}
