/* Settings */
#settings-view {
	h3 {
		position: relative;
		display: -webkit-inline-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	form > p {
		font-size: .9rem;
	}
}

.settings {
	&-container {
		position: relative;
		margin-top: 5px;
	}

	&-features {
		max-width: 525px;

		&-group {
			width: auto;
			display: grid;
			grid-auto-flow: row;
			gap: .6rem 1.5rem;

			&.autofit {
				grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
			}

			.settings-row {
				display: flex;
				gap: .6rem;

				&.full {
					width: 100%;
				}

				label {
					margin-bottom: 0;
				}

				select {
					flex-grow: 1;
				}
			}
		}
	}

	.background-logos {
		position: absolute;
		right: 0;
		top: 10px;
		display: flex;
		width: 100%;
		justify-content: flex-end;

		svg {
			height: 140px;
			width: auto;
			opacity: .3;
			flex: none;
			transition: opacity var(--transition-ease);
		}
	}
}

.post-confirmation-container {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    animation: fadeIn 1s ease-out;
    user-select: none;

	.post-confirmation-message {
		background-color: var(--header-background-color);
		border: var(--border-width) solid var(--border-color);
		border-radius: var(--container-border-radius);
		padding: 15px;
		font-weight: 300;
	}
}
